accelerate==1.12.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
argcomplete==3.6.3
asyncer==0.0.12
asyncio==4.0.0
attrs==25.4.0
audioop-lts==0.2.2
banks==2.2.0
beautifulsoup4==4.14.3
bidict==0.23.1
blinker==1.9.0
blivet==3.12.1
Brlapi==0.8.7
brotli==1.2.0
cachetools==6.2.4
certifi==2025.7.9
cffi==2.0.0
chainlit==2.9.4
charset-normalizer==3.4.3
chevron==0.14.0
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-353.1-build/cockpit-353.1/tmp/wheel/cockpit-353.1-py3-none-any.whl#sha256=7bcbb10e8083042579647d9004814730b341e2ca7228ea7e8ebd6fceb7f5d870
colorama==0.4.6
crypt_r==3.13.1
cryptography==45.0.4
cuid==0.4
cupshelpers==1.0
dasbus==1.7
dataclasses-json==0.6.7
datasets==4.4.2
dbus-python==1.4.0
dbus_next==0.2.3
Deprecated==1.3.1
dill==0.4.0
dirtyjson==1.0.8
discid==1.3.0
distro==1.9.0
dnf==4.24.0
docstring_parser==0.17.0
evaluate==0.4.6
fastapi==0.123.0
fasteners==0.20
fedora-third-party==0.10
ffmpy==1.0.0
file-magic==0.4.0
filelock==3.20.0
filetype==1.2.0
frozenlist==1.8.0
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.46
googleapis-common-protos==1.72.0
gradio==6.0.1
gradio_client==2.0.0
greenlet==3.2.4
griffe==1.15.0
groovy==0.1.2
grpcio==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanize==4.13.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.1
inflection==0.5.1
iso639==0.1.4
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
json_repair==0.55.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==1.1.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.1.0
langchain-experimental==0.4.0
langchain-ollama==1.0.1
langchain-openai==1.1.0
langchain-text-splitters==1.0.0
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-checkpoint-sqlite==3.0.0
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.10
langsmith==0.4.43
langtable==0.0.69
Lazify==0.4.0
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.17.0
literalai==0.1.201
llama-index-core==0.10.68.post1
llama-index-embeddings-huggingface==0.2.3
llama-index-extractors-entity==0.4.1
llama-index-instrumentation==0.4.2
llama-index-llms-ollama==0.2.2
llama-index-vector-stores-qdrant==0.1.4
llama-index-workflows==2.11.6
louis==3.33.0
lxml==6.0.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
mcp==1.25.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
mutagen==1.47.0
mypy_extensions==1.1.0
narwhals==2.15.0
neo4j==6.0.3
nest-asyncio==1.6.0
networkx==3.6.1
nftables==0.1
nltk==3.9.2
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
olefile==0.47
ollama==0.6.1
openai==2.8.0
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-agno==0.50.1
opentelemetry-instrumentation-alephalpha==0.50.1
opentelemetry-instrumentation-anthropic==0.50.1
opentelemetry-instrumentation-bedrock==0.50.1
opentelemetry-instrumentation-chromadb==0.50.1
opentelemetry-instrumentation-cohere==0.50.1
opentelemetry-instrumentation-crewai==0.50.1
opentelemetry-instrumentation-google-generativeai==0.50.1
opentelemetry-instrumentation-groq==0.50.1
opentelemetry-instrumentation-haystack==0.50.1
opentelemetry-instrumentation-lancedb==0.50.1
opentelemetry-instrumentation-langchain==0.50.1
opentelemetry-instrumentation-llamaindex==0.50.1
opentelemetry-instrumentation-logging==0.60b1
opentelemetry-instrumentation-marqo==0.50.1
opentelemetry-instrumentation-mcp==0.50.1
opentelemetry-instrumentation-milvus==0.50.1
opentelemetry-instrumentation-mistralai==0.50.1
opentelemetry-instrumentation-ollama==0.50.1
opentelemetry-instrumentation-openai==0.50.1
opentelemetry-instrumentation-openai-agents==0.50.1
opentelemetry-instrumentation-pinecone==0.50.1
opentelemetry-instrumentation-qdrant==0.50.1
opentelemetry-instrumentation-redis==0.60b1
opentelemetry-instrumentation-replicate==0.50.1
opentelemetry-instrumentation-requests==0.60b1
opentelemetry-instrumentation-sagemaker==0.50.1
opentelemetry-instrumentation-sqlalchemy==0.60b1
opentelemetry-instrumentation-threading==0.60b1
opentelemetry-instrumentation-together==0.50.1
opentelemetry-instrumentation-transformers==0.50.1
opentelemetry-instrumentation-urllib3==0.60b1
opentelemetry-instrumentation-vertexai==0.50.1
opentelemetry-instrumentation-watsonx==0.50.1
opentelemetry-instrumentation-weaviate==0.50.1
opentelemetry-instrumentation-writer==0.50.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-semantic-conventions-ai==0.4.13
opentelemetry-util-http==0.60b1
orjson==3.11.4
ormsgpack==1.12.0
packaging==25.0
pandas==2.3.3
perf==0.1
pexpect==4.9.0
picard==2.13.3
pid==3.0.4
pillow==11.3.0
platformdirs==4.5.1
playwright==1.56.0
ply==3.11
podman-compose==1.5.0
portalocker==2.10.1
productmd==1.49
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.1
ptyprocess==0.7.0
pwquality==1.4.5
pyarrow==22.0.0
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
PyJWT==2.10.1
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pyparsing==3.3.1
pyparted==3.13.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.13.0
python-libdiscid==2.0.2
python-linux-procfs==0.7.3
python-meh==0.52
python-multipart==0.0.20
python-pam==2.0.2
python-socketio==5.16.0
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.17.12-build/kernel-6.17.12/linux-6.17.12-300.fc43.x86_64/tools/net/ynl
qdrant-client==1.12.1
RapidFuzz==3.12.2
rdflib==7.5.0
referencing==0.36.2
regex==2025.10.23
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rich==14.2.0
rpds-py==0.27.0
rpm==6.0.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
semantic-version==2.10.0
sentence-transformers==5.2.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
seqeval==1.2.2
setools==4.6.0
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.1.0
simpleline==1.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sos==4.10.2
soundconverter==4.1.1
soupsieve==2.8
span_marker==1.7.0
SQLAlchemy==2.0.44
sqlite-vec==0.1.6
sse-starlette==3.1.1
starlette==0.50.0
streamlit==1.52.2
streamlit-agraph==0.0.45
sympy==1.14.0
syncer==2.0.3
systemd-python==235
tavily-python==0.7.13
tenacity==8.5.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.3.0
tomlkit==0.13.3
torch==2.9.1
tornado==6.5.4
tqdm==4.67.1
traceloop-sdk==0.50.1
transformers==4.57.3
triton==3.5.1
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
uvicorn==0.38.0
watchdog==6.0.0
watchfiles==1.1.1
wrapt==1.17.3
wsproto==1.3.2
xkbregistry==0.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
